body[b-52oiaq81zp] {
}

#formdiv[b-52oiaq81zp] {
    width: 25%;
}

input[b-52oiaq81zp] {
    width: 100%;
}

#top-half[b-52oiaq81zp] {
    width: 100%;
}

#middle[b-52oiaq81zp] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

#left[b-52oiaq81zp] {
    background-color: lightgray;
    text-align: center;
    height: 100%;
    width: 50%;
}

#right[b-52oiaq81zp] {
    background-color: darkgray;
    text-align: center;
    height: 100%;
    width: 50%;
}
