/* /Pages/Calculator.razor.rz.scp.css */
body[b-52oiaq81zp] {
}

#formdiv[b-52oiaq81zp] {
    width: 25%;
}

input[b-52oiaq81zp] {
    width: 100%;
}

#top-half[b-52oiaq81zp] {
    width: 100%;
}

#middle[b-52oiaq81zp] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

#left[b-52oiaq81zp] {
    background-color: lightgray;
    text-align: center;
    height: 100%;
    width: 50%;
}

#right[b-52oiaq81zp] {
    background-color: darkgray;
    text-align: center;
    height: 100%;
    width: 50%;
}
/* /Pages/Testing.razor.rz.scp.css */
body[b-cj13zcm7q4] {
}

#formdiv[b-cj13zcm7q4]{
    width: 25%;
}

input[b-cj13zcm7q4]{
    width: 100%;
}

#top-half[b-cj13zcm7q4]{
    width: 100%;
}

#middle[b-cj13zcm7q4]{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

#left[b-cj13zcm7q4]{
    background-color: lightgray;
    text-align: center;
    height: 100%;
    width: 50%;
}

#right[b-cj13zcm7q4]{
    background-color: darkgray;
    text-align: center;
    height: 100%;
    width: 50%;
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-eftvc5ipda] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-eftvc5ipda] {
    flex: 1;
}

.sidebar[b-eftvc5ipda] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-eftvc5ipda] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-eftvc5ipda]  a, .top-row[b-eftvc5ipda]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-eftvc5ipda]  a:hover, .top-row[b-eftvc5ipda]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-eftvc5ipda]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-eftvc5ipda] {
        display: none;
    }

    .top-row.auth[b-eftvc5ipda] {
        justify-content: space-between;
    }

    .top-row[b-eftvc5ipda]  a, .top-row[b-eftvc5ipda]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eftvc5ipda] {
        flex-direction: row;
    }

    .sidebar[b-eftvc5ipda] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-eftvc5ipda] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-eftvc5ipda]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-eftvc5ipda], article[b-eftvc5ipda] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fep0efrvpd] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fep0efrvpd] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fep0efrvpd] {
    font-size: 1.1rem;
}

.oi[b-fep0efrvpd] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fep0efrvpd] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fep0efrvpd] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fep0efrvpd] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fep0efrvpd]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fep0efrvpd]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fep0efrvpd]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fep0efrvpd] {
        display: none;
    }

    .collapse[b-fep0efrvpd] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fep0efrvpd] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
