body {
}

#formdiv {
    width: 25%;
}

input {
    width: 100%;
}

#top-half {
    width: 100%;
}

#middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

#left {
    background-color: lightgray;
    text-align: center;
    height: 100%;
    width: 50%;
}

#right {
    background-color: darkgray;
    text-align: center;
    height: 100%;
    width: 50%;
}
