@page "/testing"

<center>
<h3>Investment calculator</h3>
</center>

<p>@t.Name</p>

<button class="btn btn-primary" @onclick="Posting">Call API</button>




@code {
    private Testing1 t = new Testing1();

    private async void Posting()
    {
        t.Name = "KUKK";
        string returnedContent = await t.MakeApiCall();
        if (returnedContent != null)
        {
            Console.WriteLine(returnedContent);
        }


        

    }

    
}
